span.clearfix {
  display: block;
  width: 100%;
  clear: both;
  height: 1px;
}

.center {
  text-align: center;
}
input {
  display: none;
}
div.half-width {
  width: 300px;
}

label.tab-labels {
  display: block;
  float: left;
  width: 148px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 1em 0;
}
.tab {
  width: 598px;
  height: 1em;
  padding: 2em 0;
  border: 1px solid #ccc;
  text-align: center;
  display: none;
  clear: both;
}
#tab1:checked ~ .tab1,
#tab2:checked ~ .tab2,
#tab3:checked ~ .tab3,
#tab4:checked ~ .tab4 {
  display: block;
}

label.gallery-labels {
  display: block;
  float: left;
  width: 98px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 1em 0;
}
.gallery-image {
  width: 300px;
  margin: 0;
  display: none;
}
.gallery-text {
  margin: 10px;
  display: none;
}

#gallery1tab1:checked ~ .gallery1image1,
#gallery1tab2:checked ~ .gallery1image2,
#gallery1tab3:checked ~ .gallery1image3,
#gallery2tab1:checked ~ .gallery2image1,
#gallery2tab2:checked ~ .gallery2image2,
#gallery2tab3:checked ~ .gallery2image3 {
  display: block;
}

#gallery3tab1:checked ~ .gallery3image1,
#gallery3tab2:checked ~ .gallery3image2,
#gallery3tab3:checked ~ .gallery3image3 {
  display: block;
}

#gallery4tab1:checked ~ .gallery4image1,
#gallery4tab2:checked ~ .gallery4image2,
#gallery4tab3:checked ~ .gallery4image3,
#gallery4tab1:checked ~ .gallery4text1,
#gallery4tab2:checked ~ .gallery4text2,
#gallery4tab3:checked ~ .gallery4text3 {
  display: block;
}

#gallery5tab1:checked ~ div .gallery5image1,
#gallery5tab2:checked ~ div .gallery5image2,
#gallery5tab3:checked ~ div .gallery5image3,
#gallery5tab1:checked ~ .gallery5text1,
#gallery5tab2:checked ~ .gallery5text2,
#gallery5tab3:checked ~ .gallery5text3 {
  display: block;
}
